<div class="content aboutus">
	<div class="logo-container">
		<a ui-sref="home"><img src="assets/images/logo.png"></a>
		<div class="title">
			<div class='tile aboutustile'>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
			</div>
			<p>ABOUT <br>US</p>
		</div>
	</div>
	<div class="aboutus-content">
		<div class="row top-row">
			<div class="col-sm-6 col-md-8 body-container">
				<p class="title">We are the leader in architecture</p>
				<p class="body">
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
				</p>
			</div>
			<div class="col-sm-6 col-md-4 img-container">
				<img src="assets/images/img1.jpg">
			</div>
		</div>
		<div class="row go-bottom-lg bottom-row">
			<div class="col-sm-6 col-md-4 img-container">
				<img src="assets/images/img2.jpg">
			</div>
			<div class="col-sm-6 col-md-8 body-container">
				<p class="title">OUR PHILOSOPHY</p>
				<p class="body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="content services">
	<div class="logo-container">
		<div class="title">
			<div class='tile servicestile'>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
			</div>
			<p>OUR SPECIALITIES</p>
		</div>
		<div class="caption">
			<p>WE LIKE TO DREAM BIG</p>
		</div>
	</div>
	<div class="services-content">
		<div class="row no-sidemargin">
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">ENERGY MANAGEMENT</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">MOBILITY CUSTOMIZATION</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">SECURITY & SAFETY</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">AUDIO DISTRIBUTION</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">NETWORKING & STRUCTURAL WIRING</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">LIGHTING & LIGHTING CONTROL</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">AUDIO DISTRIBUTION</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">VIDEO DISTRIBUTION</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">ASSET MANAGEMENT</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content services-footer">
	<div class="logo-container">
		<div class="title">
			<div class='tile servicesfootertile'>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
			</div>
			<p>OUR SERVICES</p>
		</div>
	</div>
	<div class="services-footer-content">
		<div class="row">
			<div class="col-xs-12 col-sm-4 services-footer-block">
				<p>Product Design</p>
				<img src="assets/images/product_design.jpg">
			</div>
			<div class="col-xs-12 col-sm-4 services-footer-block">
				<p>Landscape Design</p>
				<img src="assets/images/landscape_design.jpg">
			</div>
			<div class="col-xs-12 col-sm-4 services-footer-block">
				<p>Interior Design</p>
				<img src="assets/images/interior_design.jpg">
			</div>
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		setTimeout(function(){
	    	$('.servicestile').addClass('animatetile');
		}, 500);
		setTimeout(function(){
	    	$('.servicesfootertile').addClass('animatetile');
		}, 500);
		setTimeout(function(){
	    	$('.aboutustile').addClass('animatetile');
		}, 500);
	});
</script>