<div class="content home">
	<div class="logo-container">
		<a ui-sref="home"><img src="assets/images/logo.png"></a>
		<p>PARADOX</p>
	</div>
	<div class="outer-text-container">
		<div class="text-container">
			<div class="overlay">
			</div>
			<p>what ever good things we build end up building us</p>
			<!-- <button class="btn">Play Video</button> -->
		</div>
	</div>
	<div class="slick-container" slick settings="slickConfig">
		<div class="slick-item">
			<div class="slick-item-container" ng-style="{'background-image':'url(assets/images/3.jpg)'}">
			</div>
		</div>
		<div class="slick-item">
			<div class="slick-item-container" ng-style="{'background-image':'url(assets/images/IMG_9715.jpg)'}">
			</div>
		</div>
		<div class="slick-item">
			<div class="slick-item-container" ng-style="{'background-image':'url(assets/images/8.jpg)'}">
			</div>
		</div>
		<div class="slick-item">
			<div class="slick-item-container" ng-style="{'background-image':'url(assets/images/9.jpg)'}">
			</div>
		</div>
	</div>
</div>
