<div class="content categories" ng-show="viewAll">
	<div class="logo-container">
		<a ui-sref="home"><img src="assets/images/logo.png"></a>
		<p>PARADOX</p>
		<div class="title">
			<div class='tile'>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
			</div>
			<p>OUR PROJECTS</p>
		</div>
	</div>
	<div class="categories-content">
		<div class="row no-sidemargin categories-content-row">
			<div class="col-sm-6 col-lg-4 categories-block-container" ng-repeat="c in categories" ng-click="viewCategory($index)">
				<div class="categories-block">
					<div class="img-container">
						<img ng-src="{{c.image}}">
					</div>
					<div class="body-container">
						<h2 class="body-title">{{c.name}}</h2>
						<div class="body-content">
							{{c.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content projects expandOpenSimple" ng-show="!viewAll" ng-style="{'background-image':'url('+selectedProject.previewImage+')'}">
	<div class="project-name">
		<p>{{selectedProject.name}}</p>
		<span></span>
	</div>
	<div class="project-desc-container">
		<div class="project-desc" id="desc">
			<p>{{selectedProject.description}}</p>
			<!-- <span></span> -->
			<div class="top-right"></div>
			<div class="bottom-left"></div>
		</div>
		<div class="project-image-navigation" ng-if="showImageNav && selectedProject.images && selectedProject.images.length > 0">
			<div class="left-arrow" ng-click="prevPreviewImage()">
				<span><i class="fa fa-caret-left" aria-hidden="true"></i></span>
			</div>
			<div class="right-arrow" ng-click="nextPreviewImage()">
				<span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>
	<div class="project-carousel">
		<div class="gridview" ng-click="goToGridView()">
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
		<div class="project-carousel-list">
			<ul>
				<li ng-repeat="p in filteredProjects" id="proj{{$index}}" ng-class="{'active':p.id == selectedProject.id}" ng-click="viewProject($index)" ng-style="{'left':($index-moveIndex)*(54) + 'px'}">
					<span class="project-bar"></span>
					<span class="project-dot"></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		setTimeout(function(){
	    	$('.tile').addClass('animatetile');
		}, 500);
	});
</script>
