<div class="content services">
	<div class="logo-container">
		<a ui-sref="home"><img src="assets/images/logo.png"></a>
		<p>PARADOX</p>
		<div class="title">
			<div class='tile'>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
			</div>
			<p>OUR SERVICES</p>
		</div>
	</div>
	<div class="container">
	<div class="services-content">
		<div class="row no-sidemargin">
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/Empathetic.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">Empathetic</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/integrated.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">integrated</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/authentic.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">authentic</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/punctual.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">punctual</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/project management.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">project management</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/perspective.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">perspective</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/transformation.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">transformation</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/unique.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">unique</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/Juxtapose.png">
					</div>
					<div class="body-container">
						<h2 class="body-title">Juxtapose with material</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="services-footer-content">
		<h1>OUR SERVICES</h1>
		<div class="row no-sidemargin">
			<div class="col-xs-12 col-sm-4 services-footer-block">
				<img src="assets/images/product_design.jpg">
			</div>
			<div class="col-xs-12 col-sm-4 services-footer-block">
				<img src="assets/images/landscape_design.jpg">
			</div>
			<div class="col-xs-12 col-sm-4 services-footer-block">
				<img src="assets/images/interior_design.jpg">
			</div>
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		setTimeout(function(){
	    	$('.tile').addClass('animatetile');
		}, 500);
	});
</script>
