<div class="content services">
	<div class="logo-container">
		<a ui-sref="home"><img src="assets/images/logo.png"></a>
		<div class="title">
			<div class='tile'>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
			</div>
			<p>OUR SERVICES</p>
		</div>
		<div class="caption">
			<p>WE LIKE TO DREAM BIG</p>
		</div>
	</div>
	<div class="services-content">
		<div class="row no-sidemargin">
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">Service</h2>
						<div class="body-content">
							Lorem ipsum dolor sit amet, his te vitae maluisset quaerendum, cum et saperet contentiones. No ius meis assentior, sed aeque vidisse cu
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">Service</h2>
						<div class="body-content">
							Lorem ipsum dolor sit amet, his te vitae maluisset quaerendum, cum et saperet contentiones. No ius meis assentior, sed aeque vidisse cu
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 service-block-container">
				<div class="service-block">
					<div class="img-container">
						<img src="assets/images/1.jpg">
					</div>
					<div class="body-container">
						<h2 class="body-title">Service</h2>
						<div class="body-content">
							Lorem ipsum dolor sit amet, his te vitae maluisset quaerendum, cum et saperet contentiones. No ius meis assentior, sed aeque vidisse cu
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		setTimeout(function(){
	    	$('.tile').addClass('animatetile');
		}, 500);
	});
</script>