<!DOCTYPE html>
<html lang="en" ng-app="paradox">

<head>
    <title>
        Paradox
    </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Vendor/CSS -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- build:css /css/site.css -->

    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">

    <link rel="stylesheet" type="text/css" href="assets/master.css">

</head>

<body>
    <div class="page-container">

        <ui-view></ui-view>

        <nav ng-class="{'active':menuActive}">
            <div class="nav-toggle-button">
                <button type="button" class="navbar-toggle" ng-click="toggleMenu()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="logo">
                <p>PARADOX</p>
            </div>
            <ul class="nav-menu">
                <li>
                    <a ui-sref="home">Home</a>
                </li>
                <li>
                    <a>About Us</a>
                </li>
                <li>
                    <a>Our Services</a>
                </li>
                <li>
                    <a ui-sref="projects">Our Projects</a>
                </li>
            </ul>
            <div class="social-box">
                <ul>
                    <li>
                        <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="enquiry-box" ng-if="menuActive">
                <div class="title" ui-sref="contactus">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    MAKE AN ENQUIRY   
                </div>
                <div class="body">
                    <p>+91 9383838383</p>
                    <p>care@paradox.in</p>
                    <p>
                        27 Colmore Row<br>
                        Birmingham<br>
                        England<br>
                        B3 2EW<br>
                    </p>
                </div>
            </div>
            <div class="enquiry-box" ng-if="!menuActive">
                <div class="title" ui-sref="contactus">
                    <i class="fa fa-envelope" aria-hidden="true"></i>   
                </div>
            </div>
        </nav>
    
    </div>    

    <!-- build:js /js/site.js -->

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="bower_components/letteringjs/jquery.lettering.js"></script>

    <!-- Angular components -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyAYuOpkyl4mrBXr0An8sjzL8R_uZKL77Wk"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>

    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>

    <script type="text/javascript" src="assets/master.js"></script>

    <script type="text/javascript" src="routes.js"></script>

    <!-- directives -->
    <!-- services -->
    <!-- controllers -->
    <script type="text/javascript" src="controllers/homeCtrl.js"></script>
    <script type="text/javascript" src="controllers/projectsCtrl.js"></script>
    <script type="text/javascript" src="controllers/contactusCtrl.js"></script>

</body>

</html>
