
/** Fonts used in the project Hunger Meals **/

@font-face {
    font-family: seravekMed;
    src: url('fonts/seravek-medium-webfont.ttf');
}

@font-face {
    font-family: seravekLight;
    src: url('fonts/seravek-light-webfont.ttf');
}

@font-face {
    font-family: soria;
    src: url('fonts/Soria font.ttf');
}

@font-face {
    font-family: spaceAge;
    src: url('fonts/space age.ttf');
}

@font-face {
    font-family: MaisonNeue-Book;
    src: url('fonts/MaisonNeue-Book.ttf');
}

@font-face {
    font-family: MaisonNeue-BookItalic;
    src: url('fonts/MaisonNeue-BookItalic.ttf');
}

@font-face {
    font-family: MaisonNeue-Demi;
    src: url('fonts/MaisonNeue-Demi.ttf');
}

@font-face {
    font-family: MaisonNeue-DemiItalic;
    src: url('fonts/MaisonNeue-DemiItalic.ttf');
}

@font-face {
    font-family: MaisonNeue-Light;
    src: url('fonts/MaisonNeue-Light.ttf');
}

@font-face {
    font-family: MaisonNeue-LightItalic;
    src: url('fonts/MaisonNeue-LightItalic.ttf');
}

@font-face {
    font-family: MaisonNeue-Medium;
    src: url('fonts/MaisonNeue-Medium.ttf');
}

@font-face {
    font-family: MaisonNeue-MediumItalic;
    src: url('fonts/MaisonNeue-MediumItalic.ttf');
}

@font-face {
    font-family: MaisonNeue-MediumItalic;
    src: url('fonts/MaisonNeue-MediumItalic.ttf');
}

@font-face {
    font-family: MaisonNeue-Mono;
    src: url('fonts/MaisonNeue-Mono.ttf');
}

@font-face {
    font-family: MaisonNeue-MonoItalic;
    src: url('fonts/MaisonNeue-MonoItalic.ttf');
}
