
/** Fonts used in the project Hunger Meals **/

@font-face {
    font-family: seravekMed;
    src: url('fonts/seravek-medium-webfont.ttf');
}

@font-face {
    font-family: seravekLight;
    src: url('fonts/seravek-light-webfont.ttf');
}

@font-face {
    font-family: soria;
    src: url('fonts/Soria font.ttf');
}

@font-face {
    font-family: spaceAge;
    src: url('fonts/space age.ttf');
}
