header {
    
}

nav {
	position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 60px;
    z-index: 3;
    background: black;
    transition: width 0.5s linear;
  	-webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    &.active {
        width: 250px;
        .nav-menu {
            display: block;
        }
        .logo {
            display: block;
        }
        .social-box {
            ul {
                li {
                    float: left;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .nav-toggle-button {
        .navbar-toggle {
            display: block;
            color: #fff;
            margin: 0px;
            padding: 15px;
            float: left;
            width: 60px;
            text-align: -webkit-center;
            .icon-bar {
                background-color: #fff;
            }
        }
    }
    .logo {
        display: none;
        padding: 15px;
        width: 75%;
        img {
            max-width: 100%;
        }
    }
    .nav-menu {
        display: none;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px 15px;
    	li {
    		padding: 15px 0px;
    		a {
    			color: #fff;
    			text-transform: uppercase;
    			&:hover {
    				color: #fff;
    			}
    		}
    	}
    }
    .enquiry-box {
        //padding: 0px 15px;
    }
    .social-box {
        padding: 0px 15px;
        text-align: center;
        position: absolute;
        bottom: 50px;
        ul {
            li {
                width: 30px;
                padding: 15px 0px;
                a {
                    color: #fff;
                }
            }
        }
    }
}