/** master.scss
    Master scss for projects
    -- Developed and Maintained by
    Sukor Consulting **/


@import "../imports";
@import "config";
@import "fonts";
@import "header";
@import "footer";
@import "home";
@import "projects";
@import "contactus";

html {
	height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  background: $background-color;
  color: $text-color;
}

.seravekLight{font-family: seravekLight !important;}
.seravekMed{font-family: seravekMed !important;}
.soria{font-family: soria !important;}


.page-container {
  min-height:100%;
  position:relative;
  .content {
  	margin-right: 60px;
    position: relative;
  }
}

.btn {
  background: $btn-color !important;
  color: $btn-text-color !important;
  border-radius: 0px !important;
  &:hover{
    //background: $btn-text-color !important;
    //color: $text-color !important;
  }
  &:focus {
    outline: none !important;
    //background: $btn-text-color !important;
    //color: $text-color !important;
  }
  &:active {
    box-shadow: none !important;
    //background: $btn-text-color !important;
    //color: $text-color !important;
  }
  &[disabled] {
    opacity: 1 !important;
  }
}
