.services {
	min-height: 100vh;
	.logo-container {
		position:absolute;
		top: 50px;
		left: 50px;
		z-index: 2;
		img {
			width: 125px;
			@include device('laptop'){
				width: 200px;
			}
		}
		p{
			font-family: spaceAge;
			padding-left:20px;
			font-size: 40px;
			color: #FCBF00;
		}
		.title {
			position: relative;
			margin-top: 90px;
			width: 125px;
			@include device('laptop'){
				width: 200px;
			}
			p {
					color: $black;
			    font-weight: bold;
					font-family: MaisonNeue-Book;
			    font-size: 22px;
			    @include device('laptop'){
			    font-size: 28px;
			    }
			    line-height: 1.5;
			}
			.tile {
			  	height: 84px;
			  	position: absolute;
			  	margin-left: 25px;
			  	width: 100px;
			  	@include device('laptop'){
					margin-left: 75px;
			  		width: 125px;
			  		height: 100px;
				}
			  	opacity: 0.6;
			  	border: 0px;
			  	top: -14px;
			  	.top-right, .bottom-left {
			      	box-sizing: inherit;
			      	position: absolute;
			      	border: 5px solid transparent;
			      	width: 0;
			      	height: 0;
			  	}
			  	.top-right {
			      	top: 0;
			      	left: 0;
			 	}
			  	.bottom-left {
			    	bottom: 0;
			    	right: 0;
			  	}
			  	&.animatetile {
			    	.top-right,
			    	.bottom-left {
			        	width: 100%;
			        	height: 100%;
			    	}
				    .top-right {
				        -webkit-transition:
				        	width 0.5s ease-out, // Width expands first
				            height 0.5s ease-out 0.5s; // And then height
				      	-moz-transition:
				        	width 0.5s ease-out, // Width expands first
				            height 0.5s ease-out 0.5s; // And then height
				        transition:
				          	width 0.5s ease-out, // Width expands first
				            height 0.5s ease-out 0.5s; // And then height
				        border-top-color: #ccc; // Make borders visible
				        border-right-color: #ccc;
				    }
				    .bottom-left {
				      	-webkit-transition:
				        	border-color 0s ease-out 1s, // Wait for ::before to finish before showing border
				            width 0.5s ease-out 1s, // And then exanding width
				            height 0.5s ease-out 1.5s; // And finally height
				      	-moz-transition:
				        	border-color 0s ease-out 1s, // Wait for ::before to finish before showing border
				            width 0.5s ease-out 1s, // And then exanding width
				            height 0.5s ease-out 1.5s; // And finally height
				      	transition:
				            border-color 0s ease-out 1s, // Wait for ::before to finish before showing border
				            width 0.5s ease-out 1s, // And then exanding width
				            height 0.5s ease-out 1.5s; // And finally height
				        border-bottom-color: #ccc; // Make borders visible
				        border-left-color: #ccc;
				    }
			  	}
			}
		}
		.caption {
			margin-top: 60px;
			width: 125px;
			@include device('laptop'){
				width: 200px;
			}
			p {
				color: $black;
					font-family: MaisonNeue-Book;
			    font-size: 24px;
			    line-height: 1.5;
			}
		}
	}
	.services-content {
		padding-right: 50px;
		padding-left: 200px;
		padding-top: 50px;
		padding-bottom: 50px;
		@include device('laptop'){
			padding-left: 300px;
		}
		.service-block-container {
			padding: 0px;
			.service-block {
				cursor: pointer;
			    height: 220px;
				background: #ededed;
				border: 1px solid #cccccc;
				.img-container {
					position: relative;
				    height: 150px;
				    padding: 15px;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.body-container {
					padding: 15px;
    				text-align: center;
				   	.body-title {
				   		color: $black;
				   		text-transform: uppercase;
					    line-height: 20px;
					    font-weight: bold;
				   	}
				}
				&:hover {
					background: $black;
					border: 0px;
					.img-container {
					}
					.body-container {
						.body-title {
				   			color: #fff;
				   		}
					}
				}
			}
		}
	}
	.services-footer-content {
		padding: 50px;
		h1 {
			color: $black;
		    text-align: center;
		    margin-bottom: 30px;
		    font-weight: bold;
		    font-size: 22px;
		}
		.services-footer-block {
			padding: 0px 15px;
			margin-bottom: 30px;
			@include device('tablet'){
				margin-bottom: 0px;
			}
			p {
			    color: $black;
			    margin-bottom: 30px;
			    text-align: center;
			    font-size: 18px;
			    font-weight: bold;
			}
			img {
				width: 100%;
				height: 250px;
			}
		}
	}
}

.services-footer {
	.logo-container {
		position:absolute;
		top: 50px;
		left: 50px;
		z-index: 2;
		img {
			width: 125px;
			@include device('laptop'){
				width: 200px;
			}
		}
		.title {
			position: relative;
			margin-top: 90px;
			width: 125px;
			@include device('laptop'){
				width: 200px;
			}
			p {
				color: $black;
			    font-weight: bold;
			    font-size: 22px;
			    @include device('laptop'){
			    	font-size: 28px;
			    }
			    line-height: 1.5;
			}
			.tile {
			  	height: 84px;
			  	position: absolute;
			  	margin-left: 25px;
			  	width: 100px;
			  	@include device('laptop'){
					margin-left: 75px;
			  		width: 125px;
			  		height: 100px;
				}
			  	opacity: 0.6;
			  	border: 0px;
			  	top: -8px;
			  	.top-right, .bottom-left {
			      	box-sizing: inherit;
			      	position: absolute;
			      	border: 5px solid transparent;
			      	width: 0;
			      	height: 0;
			  	}
			  	.top-right {
			      	top: 0;
			      	left: 0;
			 	}
			  	.bottom-left {
			    	bottom: 0;
			    	right: 0;
			  	}
			  	&.animatetile {
			    	.top-right,
			    	.bottom-left {
			        	width: 100%;
			        	height: 100%;
			    	}
				    .top-right {
				        -webkit-transition:
				        	width 0.5s ease-out, // Width expands first
				            height 0.5s ease-out 0.5s; // And then height
				      	-moz-transition:
				        	width 0.5s ease-out, // Width expands first
				            height 0.5s ease-out 0.5s; // And then height
				        transition:
				          	width 0.5s ease-out, // Width expands first
				            height 0.5s ease-out 0.5s; // And then height
				        border-top-color: #ccc; // Make borders visible
				        border-right-color: #ccc;
				    }
				    .bottom-left {
				      	-webkit-transition:
				        	border-color 0s ease-out 1s, // Wait for ::before to finish before showing border
				            width 0.5s ease-out 1s, // And then exanding width
				            height 0.5s ease-out 1.5s; // And finally height
				      	-moz-transition:
				        	border-color 0s ease-out 1s, // Wait for ::before to finish before showing border
				            width 0.5s ease-out 1s, // And then exanding width
				            height 0.5s ease-out 1.5s; // And finally height
				      	transition:
				            border-color 0s ease-out 1s, // Wait for ::before to finish before showing border
				            width 0.5s ease-out 1s, // And then exanding width
				            height 0.5s ease-out 1.5s; // And finally height
				        border-bottom-color: #ccc; // Make borders visible
				        border-left-color: #ccc;
				    }
			  	}
			}
		}
		.caption {
			margin-top: 60px;
			width: 125px;
			@include device('laptop'){
				width: 200px;
			}
			p {
				color: $black;
			    font-size: 24px;
			    line-height: 1.5;
			}
		}
	}
	.services-footer-content {
		padding-right: 50px;
		padding-left: 200px;
		padding-top: 50px;
		padding-bottom: 50px;
		@include device('laptop'){
			padding-left: 300px;
		}
		.services-footer-block {
			padding: 0px 15px;
			margin-bottom: 30px;
			@include device('tablet'){
				margin-bottom: 0px;
			}
			p {
			    color: $black;
			    margin-bottom: 30px;
			    text-align: center;
			    font-size: 18px;
			    font-weight: bold;
			}
			img {
				width: 100%;
				height: 250px;
			}
		}
	}
}
